html {
    background-color:black;
}
.fa {
    padding: 20px;
    font-size: 60px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .headLogo {
    display: flex;
    justify-content: center;
  }

  .logo {
    margin: 30px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 4vh;
    color: white;
    margin: 2px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover{
    text-transform: uppercase;
    color:#f70606;
  }



  li {
      list-style: none;
      margin: 25px;
  }

  .home {
      position: relative;
      text-align: center;
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 8vh;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    margin: 5px;
  }

  h3 {
    margin: 10px;
    font-family: 'Permanent Marker', cursive;
    color: white;
  }

  .home-text {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}